{% extends "base.html" %}


{% block content %}
	<div class="row">
		<div class="login">Welcome <span class="blue">{{ user }}</span><span class="logout"><a href="/logout">Logout</a></span></div>
			<a href="/newpost">Create a New Post</a>	
		<div class="row">
				{% for p in posts %}
					{{ p.render() | safe }}
					<br>
					{% if user and user_entity.can_edit(p) %}
						<form method="post">
							<!--use a hidden fields to store the subject and contents-->
							<input type="hidden" value="{{ p }}" name="postValue">
							<input type="hidden" value="{{ p.key.id() }}" name="post_id_value">
							<input type="hidden" value="{{ p.subject }}" name="subjectValue">
							<input type="hidden" value="{{ p.content }}" name="contentValue">
							<input type="submit" value="Edit">
						</form>
						
						<!--delete button-->
						<form action="/deletePost" method="post">
							<input type="hidden" value="{{ p.key.id() }}" name="post_id_value">
							<input type="submit" value="Delete">							
						</form>						
					{% endif %}

					<!--If the user has already liked the post-->

						{% if user and user_entity.can_like(p) %}
							<!--if this user has not liked the post-->
							{% if user_entity.liked_post(p)%}
							<div class="row">
								<form action="/unlikePost" method="post">
									<input type="hidden" value="{{ p.key.id() }}" name="post_id_value">
									<input type="hidden" value="{{ user_entity.key.id() }}" name="user_id">
									<input type="submit" value="unlike">
								</form>
							</div>
							{% else %}
							<div class="row">
								<form action="/likePost" method="post">
									<input type="hidden" value="{{ p.key.id() }}" name="post_id_value">
									<input type="hidden" value="{{ user_entity.key.id() }}" name="user_id">
									<br>
									<input type="submit" value="like">
								</form>
							</div>			
							{% endif %}
						{% endif %}	
					<!--Link to View Comments of the Post-->
					<div class="row">
                         <a href="{{ uri_for('viewcomment', post_id_value=p.key.id()) }}">View Comment</a>
					</div>
																
					<hr>
				{% endfor %}
				

{% endblock %}